*{
	box-sizing: border-box;
}
body { 
margin: 0;
}

.col-1-2 {
	width: 50%;
	float: left;
	padding: 10px;
	border: 20px solid black; 

}

.col-1-2:first-child {
	background-color: beige;
}

.col-1-2:last-child {
	background-color: darksalmon;
}


